form{
  width: auto;
  height: 250px;
  border: double;
  border-radius: 5px;
  background-color: rgb(254, 252, 191);
}

label{
  float: left;
  clear: left;
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
}

#btn{
  float: left;
  clear: left;
  margin-left: 20px;
  margin-top: 10px;
  color: red;
}

inputEl{
  /*float: left;
  clear: left;*/
  margin-left: 5px;
  margin-top: 10px;
}

#submit{
  float: left;
  clear: left;
  margin-left: 20px;
  margin-top: 10px;
}
